# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/

# Docker-related
*.log
*.pid
*.tar
*.sock

# Ignore Docker volumes or bind mount data (e.g., db files, logs)
data/
*.sqlite3
*.db

# Python packages
*.egg-info/
dist/
build/

# OS-generated
.DS_Store
Thumbs.db

# Environment variables
.env
